In [ ]:
Python Type Conversion Questions

In [1]:
integer_value = 42
float_value = float(integer_value)
print(float_value)

42.0

In [2]:
float_value = 12.58
integer_value = int(float_value)
print(integer_value)

12

In [3]:
integer_value = 10
string_value = str(integer_value)
print(string_value)

10

In [4]:
list_value = ["mango", "orange", "apple", "grapes", "pear"]
tuple_value = tuple(list_value)
print(tuple_value)

('mango', 'orange', 'apple', 'grapes', 'pear')

In [5]:
tuple_value = ("seema", "rice", "payal", 2, 12)
list_value = list(tuple_value)
print(list_value)

['seema', 'rice', 'payal', 2, 12]

In [9]:
decimal_value = 234
binary_value = bin(decimal_value)
print(binary_value)

0b11101010

In [8]:
number = 90
boolean_value = bool(number)
print(boolean_value)

True